{% extends 'base.html' %}

{% block content %}
{% load static %}
<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>About Us</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">About Us</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Service center strat -->
<div class="about-car content-area-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6">
                <div class="about-car-photo">
                    <div id="carDetailsSlider" class="carousel car-details-sliders slide">
                        <!-- main slider carousel items -->
                        <div class="carousel-inner">
                            <div class="active item carousel-item" data-slide-number="0">
                                <img src="{% static 'img/car/car-1.jpg' %}" class="img-fluid" alt="slider-car">
                            </div>
                            <div class="item carousel-item" data-slide-number="1">
                                <img src="{% static 'img/car/car-2.jpg' %}" class="img-fluid" alt="slider-car">
                            </div>
                            <div class="item carousel-item" data-slide-number="2">
                                <img src="{% static 'img/car/car-3.jpg' %}" class="img-fluid" alt="slider-car">
                            </div>
                        </div>
                        <!-- main slider carousel nav controls -->
                        <ul class="carousel-indicators car-properties list-inline nav nav-justified">
                            <li class="list-inline-item active">
                                <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#carDetailsSlider">
                                    <img src="{% static 'img/car/car-1.jpg' %}" class="img-fluid" alt="small-car">
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a id="carousel-selector-1" data-slide-to="1" data-target="#carDetailsSlider">
                                    <img src="{% static 'img/car/car-2.jpg' %}" class="img-fluid" alt="small-car">
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a id="carousel-selector-2" data-slide-to="2" data-target="#carDetailsSlider">
                                    <img src="{% static 'img/car/car-3.jpg' %}" class="img-fluid" alt="small-car">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-6 align-self-center">
                <div class="best-used-car">
                    <h3>Welcome to <span>Used Cars Liberia</span></h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has</p>
                    <p class="mb-0">electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service center end -->

<!-- Featured car start -->
<div class="featured-car content-area-5">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Featured <span>Cars</span></h1>
        </div>
        <!-- Slick slider area start -->
        <div class="slick-slider-area clearfix">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 3, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                
              {% for cars in featured_cars %}  
                <div class="slick-slide-item">
                    <div class="car-box-3">
                        <div class="car-thumbnail">
                            <a href="car-details.html" class="car-img">
                                <div class="tag-2">Featured</div>
                                <div class="price-box">
                                    <span>${{cars.price}}.00</span>
                                </div>
                                <img class="d-block w-100" src="{{cars.car_photo.url}}" alt="car">
                            </a>
                            <div class="carbox-overlap-wrapper">
                                <div class="overlap-box">
                                    <div class="overlap-btns-area">
                                        <div class="car-magnify-gallery">
                                            <a href="{{cars.car_photo.url}}" class="overlap-btn" data-sub-html="<h4>Toyota Corolla</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>">
                                                <i class="fa fa-expand"></i>
                                                <img class="hidden" src="{{cars.car_photo.url}}" alt="hidden-img">
                                            </a>
                                            <a href="{{cars.car_photo1.url}}" class="hidden" data-sub-html="<h4>Lexus GS Red Car</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>">
                                                <img class="hidden" src="{{cars.car_photo1.url}}" alt="hidden-img">
                                            </a>
                                            <a href="{{cars.car_photo2.url}}" class="hidden" data-sub-html="<h4>2015 Porsche Cayenne</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>">
                                                <img class="hidden" src="{{cars.car_photo2.url}}" alt="hidden-img">
                                            </a>
                                            <a href="{{cars.car_photo3.url}}" class="hidden" data-sub-html="<h4>Lamborghini Huracán</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>">
                                                <img class="hidden" src="{{cars.car_photo3.url}}" alt="hidden-img">
                                            </a>
                                            <a href="{{cars.car_photo4.url}}" class="hidden" data-sub-html="<h4>Toyota Prius Specs</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>">
                                                <img class="hidden" src="{{cars.car_photo4.url}}" alt="hidden-img">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="detail">
                            <h1 class="title">
                                <a href="car-details.html">{{cars.car_title}}</a>
                            </h1>
                            <div class="location">
                                <a href="car-details.html">
                                    <i class="flaticon-pin"></i>{{cars.county}},
                                </a>
                            </div>
                            <ul class="facilities-list clearfix">
                                <li>{{cars.fuel_type}}</li>
                                <li>{{cars.mileage}} km</li>
                                <li>{{cars.color}}</li>
                                <li>{{cars.year}}</li>
                                <li>{{cars.condition}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
              {% endfor %}

            </div>
            <div class="slick-btn">
                <div class="slick-prev slick-arrow-buton sab-4">
                    <i class="fa fa-angle-left"></i>
                </div>
                <div class="slick-next slick-arrow-buton sab-3">
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Featured car end -->

<!-- Our team start -->
<div class="our-team content-area bg-grea-3">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Meet Our <span>Team</span></h1>
        </div>
        <!-- Slick slider area start -->
        <div class="slick-slider-area clearfix">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 4, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
             {% for team in teams %}   
                <div class="slick-slide-item">
                    <div class="team-1">
                        <div class="photo">
                            <a href="#">
                                <img src="{{team.photo.url}}" alt="team-1" class="img-fluid">
                            </a>
                            <div class="social-list clearfix">
                                <a href="{{team.facebook_link}}" target="_blank" class="facebook-bg"><i class="fa fa-facebook"></i></a>
                            </div>
                        </div>
                        <div class="details">
                            <h4><a href="team-detail.html">{{team.first_name}} {{team.last_name}}</a></h4>
                            <h5>{{team.designation}}</h5>
                        </div>
                    </div>
                </div>
            {% endfor %}   
            </div>
        </div>
    </div>
</div>
<!-- Our team end -->

<!-- Intro section start -->
<div class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-12">
                <div class="intro-text">
                    <h3>Do You Have Questions ?</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <a href="{% url 'contact' %}" class="btn btn-md">Get in Touch</a>
            </div>
        </div>
    </div>
</div>
<!-- Intro section end -->




{% endblock  %}