<!-- Top header start -->
<header class="top-header th-2 top-header-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-7">
                <div class="list-inline">
                    <a href="tel:+55-4XX-634-7071"><i class="fa fa-phone"></i>+231 77 053 1213</a>
                    <a href="tel:info@themevessel.com"><i class="fa fa-envelope"></i>contact@usedcarsliberia.com</a>
                    <a href="tel:info@themevessel.com"><i class="fa fa-clock-o"></i>Mon - Sat: 8:00am - 6:00pm</a>
                </div>
            </div>
            
        </div>
    </div>
</header>
<!-- Top header end -->